.superheros__header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0 0 0;
  padding: 4rem 0 0 0;
}

.superheros__header--link {
  display: block;

  width: 100%;

  margin: 0;

  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  letter-spacing: -4px;
  font-size: 3rem;
  color: rgb(255,255,255);
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 9999;

  background-color: rgb(255,255,255);
}

.back-btn--icon {
  display: block;

  width: 0;
  height: 0;

  border-top: 10px solid rgba(0,0,0,0);
  border-bottom: 10px solid rgba(0,0,0,0);
  border-right: 20px solid #ec1d24;
}


@include media($screen-sm) {
  .superheros__header--link {
    margin: 0 0 0 -32px;
  }

  .back-btn {
    position: static;
  }
}
