.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  margin: 4rem 1rem 0 1rem;

  .current--page {
    color: rgb(255,255,255);

    border: 1px solid rgba(0,0,0,0);

    background-color: rgba(0,0,0,0.6);
  }
}

.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  margin: 2px;

  border: 1px solid rgba(0,0,0,0.3);

  background-color: rgba(0,0,0,0.2);

  line-height: 2.5rem;
  color: rgb(255,255,255);

  &:active,
  &:focus,
  &:hover, {
    color: rgb(255,255,255);

    border: 1px solid rgba(0,0,0,0);

    background-color: rgba(0,0,0,0.6);
  }
}
