// superheros

.superheros__index {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0 0 2rem 0;
  padding: 2rem 0 4rem 0;
}

.superheros__index--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  margin: 1rem 0;

  &:active,
  &:focus,
  &:hover {
    .superheros__index--name {
      color: $primary;
    }

    .superheros__index--image {
      filter: grayscale(0%);

      transform: scale(1.1) translateX(-45%) translateY(-45%);
    }
  }
}

.superheros__index--name {
  display: block;

  width: 100%;

  margin: 0 0 1rem 0;

  font-size: 1.2rem;
  color: rgb(255,255,255);

  &:active,
  &:focus,
  &:hover {
    color: $primary;
  }
}

.superheros__index--figure {
  display: block;

  width: 100%;
  height: 0;

  margin: 0;

  padding: 50% 0;

  position: relative;

  overflow: hidden;

  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}

.superheros__index--image {
  display: block;

  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  filter: grayscale(100%);

  transition: transform .4s ease-in-out;
}

@include media($screen-sm) {
  .superheros__index--item {
    width: calc(50% - 2rem);

    margin: 1rem;
  }
}

@include media($screen-md) {
  .superheros__index--item {
    width: calc(33.33% - 2rem);
  }
}

@include media($screen-lg) {
  .superheros__index--item {
    width: calc(20% - 2rem);
  }
}
