// superhero

.superhero {
  margin: 0 0 2rem 0;
  padding: 3rem 0 4rem 0;
}

.superhero__figure {
  display: block;

  max-width: 300px;

  margin: 0 auto 2rem auto;
}

.superhero__image {
  display: block;

  max-width: 100%;
}

.superhero__line {
  margin: 0 0 .5rem 0;

  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(255,255,255);
}

.superhero__line--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.superhero__info {
  width: 100%;

  font-weight: 400;
  font-size: 1rem;
}

.superhero__info--link {
  padding: .25rem 0;

  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 400;
  color: rgb(255,255,255);
}

.superhero__section--header {
  display: block;

  margin: 2rem 0;

  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(255,255,255);
}

.superhero__comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;

  position: relative;

  padding: 0 0 4rem 0;
}

.superhero__comics--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  margin: 1rem 0;
}

.superhero__comics--name {
  display: block;

  width: 100%;

  margin: 0 0 1rem 0;

  font-size: 1rem;
  color: rgb(255,255,255);
}

.superhero__comics--figure {
  display: block;

  width: 100%;

  position: relative;

  margin: 0;

  padding: 75.89% 0;

  overflow: hidden;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.superhero__comics--image {
  display: block;

  max-width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.superhero__comics--load {
  display: block;

  width: 100%;

  position: absolute;
  bottom: 1rem;

  text-align: center;

  span {
    padding: 1rem 2rem;

    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(255,255,255);

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

    border-radius: 2px;

    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      box-shadow: 0;

      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@include media($screen-sm) {
  .superhero__line {
    margin: 0 1rem .5rem 1rem;
  }

  .superhero__comics--item {
    width: calc(50% - 2rem);

    margin: 1rem;
  }

  .superhero__comics--load {
    margin: 0 1rem;
  }
}

@include media($screen-md) {
  .superhero__comics--item {
    width: calc(33.33% - 2rem);
  }
}

@include media($screen-lg) {
  .superhero__comics--item {
    width: calc(20% - 2rem);
  }
}
