<div class="container">
  <div class="superheros__index">
    <% @request["results"].each do |result| %>
      <%= link_to hero_path(result["id"]), class: "superheros__index--item" do %>
        <h4 class="superheros__index--name">
          <%= result["name"] %>
        </h4>
        <figure class="superheros__index--figure">
          <%= image_tag result["thumbnail"]["path"] + "/standard_fantastic." + result["thumbnail"]["extension"], class: "superheros__index--image" %>
        </figure>
      <% end %>
    <% end %>
    <div class="pagination">
      <% (0..@pages).each do |i| %>
        <%= link_to i, heroes_path(i), class: "pagination__page" %>
      <% end %>
    </div>
  </div>
</div>
