<div class="container">
  <% @request["results"].each do |result| %>
    <div class="superhero">
      <figure class="superhero__figure">
        <%= image_tag result["thumbnail"]["path"] + "/standard_fantastic." + result["thumbnail"]["extension"], class: "superhero__image" %>
      </figure>
      <span class="superhero__section--header">
        Informações
      </span>
      <div class="superhero__line">
        Nome: <span class="superhero__info"><%= result["name"] %></span>
      </div>
      <% if result["description"].present? %>
        <div class="superhero__line">
          Descrição: <span class="superhero__info"><%= result["description"] %></span>
        </div>
      <% end %>
      <div class="superhero__line">
        Modificado em: <span class="superhero__info"><%= Date.parse(result["modified"]).strftime("%d/%m/%Y")%></span>
      </div>

      <% if result["urls"].present? %>
        <span class="superhero__section--header">
          Links
        </span>
        <div class="superhero__line superhero__line--links">
          <% result["urls"].each do |url| %>
            <%= link_to url["url"], class: "superhero__info--link", target: "_blank" do %>
              <%= url["type"] %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <span class="superhero__section--header">
        Quadrinhos
      </span>

      <div class="superhero__comics">
        <% @comics.each do |comic| %>
          <div class="superhero__comics--item">
            <span class="superhero__comics--name">
              <%= comic["title"] %>
            </span>
            <figure class="superhero__comics--figure">
              <%= image_tag comic["thumbnail"]["path"] + "/portrait_uncanny." + comic["thumbnail"]["extension"], class: "superhero__comics--image" %>
            </figure>
          </div>
        <% end %>
        <div class="superhero__comics--load">
          <span id="load_comics" data-hero="<%= result["id"] %>" data-page="0">Carregar mais +</span>
        </div>
      </div>

      <span class="superhero__section--header">
        Séries
      </span>

      <% unless result["series"]["available"] == 0 %>
          <% result["series"]["items"].each do |serie| %>
            <div class="superhero__line">
              <span class="superhero__info"><%= serie["name"] %></span>
            </div>
          <% end %>
      <% end %>

      <span class="superhero__section--header">
        Stories
      </span>

      <% unless result["stories"]["available"] == 0 %>
        <% result["stories"]["items"].each do |storie| %>
          <div class="superhero__line">
            <span class="superhero__info"><%= storie["name"] %></span>
          </div>
        <% end %>
      <% end %>

      <span class="superhero__section--header">
        Eventos
      </span>

      <% unless result["events"]["available"] == 0 %>
        <% result["events"]["items"].each do |event| %>
          <div class="superhero__line">
            <span class="superhero__info"><%= event["name"] %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
