<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
    <%= favicon_link_tag "icon.png" %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#EC1D24">
    <%= display_meta_tags og: {
      title: @page_title,
      description: @page_description,
      url: request.url,
      image: @page_image } %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
  </head>

  <body>
    <%= render "layouts/includes/alerts" %>
    <header>
      <div class="container">
        <h1 class="superheros__header">
          <%= link_to heroes_path(0), class: "back-btn" do %>
            <span class="back-btn--icon"></span>
          <% end %>
          <%= link_to "Marvel Heroes", heroes_path(0), class: "superheros__header--link" %>
        </h1>
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
    </footer>
  </body>
</html>
